
@{
    ViewData["Title"] = "PersonPage";
}
<link rel="stylesheet" href="~/css/person.css"/>
<div class="box">
    <ul style="background-color: transparent;height:50px; float:left" class="breadcrumb">
        <li><a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a class="nav-item" asp-area="" asp-controller="Home" asp-action="TeamPage" asp-route-id="@ViewData["TeamID"]">Team Page</a></li>
        <li><span style="color: #bdbcb9">Person Page</span></li>
    </ul>
    <h1 style="text-align:center;color:black; background-color:transparent;margin-right:10%;">@ViewData["Employeename"]</h1>
    <figure style="border:1px solid #000000" class="highcharts-figure">
        @using Highsoft.Web.Mvc.Charts
        @using Highsoft.Web.Mvc.Charts.Rendering
        @*Highchart Spider*@
        @{ var chartOptions =
                             new Highcharts
                             {
                                 Chart = new Highsoft.Web.Mvc.Charts.Chart
                                 {
                                     Polar = true
                                 },
                                 Title = new Title
                                 {
                                     Text = "Person Skills",
                                     X = -80
                                 },
                                 Pane = new Pane
                                 {
                                     Size = "80%"
                                 },
                                 XAxis = new List<XAxis>
                                     {
                new XAxis
                {
                    Categories = ViewData["skillNames"] as List<String>,
                TickmarkPlacement = XAxisTickmarkPlacement.On,
                    LineWidth = 0
                }
                                     },
                                 YAxis = new List<YAxis>
                                   {
                new YAxis
                {
                    Max = 5.0, //Minimum Range
                    MinRange = 0.0, //Maximum Range
                    GridLineInterpolation = YAxisGridLineInterpolation.Polygon,
                    LineWidth = 0,
                    Min = 0
                }
                                                                       },
                                 Tooltip = new Tooltip
                                 {
                                     Shared = true,
                                     PointFormat = "<span style=\"color:{series.color}\">Rating: <b>{point.y:,.0f}</b><br/>"
                                 },
                                 Legend = new Legend
                                 {
                                     Align = LegendAlign.Right,
                                     VerticalAlign = LegendVerticalAlign.Top,
                                     Y = 70,
                                     Layout = LegendLayout.Vertical
                                 },
                                 Series = new List<Series>
                                   {
                new LineSeries
                {
                    Name = "Skills",
                    PointPlacement = new PointPlacement
                    {
                        PointPlacementEnum = PointPlacementEnum.On
                    },
                    Data = ViewData["Ratings"] as List<LineSeriesData>
                }
                                           }
                             };

            chartOptions.ID = "chart";
            var renderer = new HighchartsRenderer(chartOptions);
        }

        @Html.Raw(renderer.RenderHtml())

    </figure>
    <div class="center">
        <button class="bts" type="button"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="PersonEditPage" asp-route-empid="@ViewData["EmployeeID"]">Edit Person</a></button>

        <table border="1">
            <tr>
                <th>Skill</th>
                <th>Score</th>
            </tr>
            @{IList<string> skillNames = ViewData["skillNames"] as IList<string>;
                IList<string> skillValues = ViewData["skillValues"] as IList<string>;

                for (int i = 0; i < skillNames.Count(); i++)
                {
                    <tr>
                        <td>@skillNames[i]</td>
                        <td>@skillValues[i]</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>